.about {
  height: 100vh;
  .btn {
    margin-left: 1rem;
    font-size: clamp(1.2rem, 0.45rem + 1.55vw, 1.45rem);
  }
}

.about__description {
  font-size: clamp(4vw, 2vw, 7vw);
  margin: 3rem 2rem;
  font-weight: 600;
}

.section-title {
  @include section-title;
}

@media screen and (max-width: 768px) {
  .about {
    margin: 3rem 1rem;
  }
}
