.hero {
  margin: 0rem 5rem;
}

.hero-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  overflow: hidden;
}

.hero__title {
  @include main-title;
  color: $darkColor;
}

.hero__subtitle {
  text-transform: uppercase;
}

.hero__fig {
  overflow: hidden;
  position: relative;
  border-radius: 9px;
  filter: grayscale(100%) contrast(110%);

  &--one {
    width: 60%;
    aspect-ratio: 3/2;
  }

  &--two {
    width: 40%;
    aspect-ratio: 3/2;
  }
}

.hero__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-cta {
  display: flex;
  margin-top: 1rem;
  .hero-cta__btns {
    width: 60%;
  }
  .hero-cta__bio {
    width: 40%;
  }
}

.hero-cta__biocontent {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero {
    margin: 0 1rem;
  }
  .hero-container {
    display: none;
  }
  .hero-cta {
    #learn-btn {
      display: none;
    }
    .hero-cta__bio {
      display: none;
    }
  }
}
