body {
  background-color: #bbbea8;
}

.hero-container {
  display: flex;
  width: 100%;
  .hero-row1 {
    width: 40%;
    height: 100%;
    border: 1px solid blue;
    figure {
      position: relative;
      aspect-ratio: 1/1;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        position: absolute;
        object-fit: cover;
      }
    }
  }
  .hero-row2 {
    width: 60%;
    height: 100%;
    border: 1px solid purple;
    figure {
      position: relative;
      aspect-ratio: 1/1;
      width: 100;
      img {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        position: absolute;
        object-fit: cover;
      }
    }
  }
}
