.about__description {
  font-size: clamp(5vw, 2vw, 7vw);
  margin: 7rem 2rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
  line-height: 1.3;
  &:after {
    z-index: 1;
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: -40px;
    right: 55px;
    background-image: linear-gradient(-45deg, transparent 15px, #fff 15px),
      linear-gradient(45deg, transparent 10px, #fff 10px);
    background-size: 10px 10px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.section-title {
  @include section-title;
}

// MOBILE
@media screen and (max-width: 768px) {
  .about {
    margin: 3rem 0;
  }
  .about__description {
    margin: 3rem 2rem;
  }
}
