.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  transition: all 380ms ease-in-out;
  li {
    margin: 1rem 2rem;
  }
  .btn {
    font-size: 1rem;
  }
  &.active {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: start;
    color: white;
    .btn {
      display: none;
    }
  }
}

.nav-link {
  text-decoration: none;
  display: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &.active {
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    a {
      padding: 2rem;
      text-decoration: none;
      color: white;
      transition: all 0.15s ease-in-out;
    }
  }
  &:hover {
    background-color: white;
    color: black;
    a {
      color: black;
    }
  }
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  .hamburger-span {
    margin: 2px 0;
    width: 20px;
    height: 2px;
    background-color: white;
    -webkit-transition: all 380ms ease-in-out;
    transition: all 380ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  &.active .hamburger-span:nth-child(1) {
    transform: translateY(3px) rotate(225deg);
    background-color: white;
  }
  &.active .hamburger-span:nth-child(2) {
    transform: translateY(-3px) rotate(-225deg);
    background-color: white;
  }
}
/* 
@media screen and (min-width: 768px) {
  .nav-link {
    display: block;
    a {
      text-decoration: none;
      font-size: 1.2rem;
      color: black;
    }
  }
  .logo {
    text-decoration: underline;
  }
  .hamburger-menu {
    display: none;
  }
} */

body {
  background-color: black;
  color: white;
}
