.faq {
  margin: 4rem 0;
  width: 100%;
}

.faq__container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1.4rem;
  margin: 4rem;
  max-width: 100%;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    margin: 3rem 0;
    h3 {
      margin: 0 1rem;
    }
    svg {
      margin: 0 1rem;
    }
  }
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  svg {
    transition: all 0.5s ease;
  }
}

.answer {
  padding-top: 1rem;
  line-height: 1.5;
  max-height: 0;
  font-weight: 300;
  overflow: hidden;
  transition: max-height 1s ease;
  // font-size: CLAMP //
  @media screen and (max-width: 768px) {
    p {
      margin: 0 1rem;
    }
  }
}

.faq__container.active .answer {
  max-height: 500px;
  animation: fade 1s ease-in-out;
}

.faq__container.active svg {
  transform: rotate(-90deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
