.nav-link {
  text-decoration: none;
  cursor: pointer;
}
.home {
  display: none;
  padding: 12px;
  transition: all 0.15s ease-in-out;
  &.active {
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    a {
      text-decoration: none;
      transition: all 0.15s ease-in-out;
    }
  }
  &:hover {
    background-color: white;
    color: black;
    a {
      color: black;
    }
  }
}

.logo {
  display: none;
}

#navbar-cta {
  margin-right: 24px;
}
