@mixin main-title {
  font-size: clamp(3.5rem, 3vw + 3rem, 6rem);
  font-weight: 600;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  color: $white;
  text-transform: uppercase;
}

@mixin section-title {
  font-size: clamp(1.3rem, 2vw, 2rem);
  font-weight: 200;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: block;
    margin-right: 1rem;
    width: 30vw;
    height: 3px;
    border-radius: 3px;
    background-color: $white;
  }
}

@mixin figCaption {
  figcaption {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    font-size: 3rem;
    font-weight: 600; // CLAMP // ;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 120ms ease;
    opacity: 0;
  }
  &:hover {
    figcaption {
      opacity: 100;
      display: block;
    }
  }
}
