@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// FONTS
$mainFont: "Work Sans", sans-serif;

$normalFont: clamp(1rem, 0.45rem + 1.55vw, 1.2rem);
$mediumFont: clamp(1.3rem, 2vw, 2rem);
$bigFont: clamp(2.8rem, -0.15rem + 8vw, 5rem);

// COLOR:
$dark: black;
$white: white;
